header {
background-color: #fff;
}
body {
font-family: 'Poppins', sans-serif;
}
a {
    color: #22343D;
    text-decoration: none;
    
}
p,h2,h3,h4 {
    font-family: Poppins;
    color: #22343D;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
/*HEADER PLACE*/
.header {
    
}

.container {
padding-left: 145px;
padding-right: 145px;
}

.header-container {
   min-width: 1100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: baseline;

}
.header-icon {
    margin-right: 16px;
}
.head-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #173A56;
}

.nav-header {
}

.header-list {
    display: flex;
    gap: 30px;
    margin-left: 237px;
    margin-right: 37px;

}

.header-item {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #22343D;

}
.current {
        font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
        color: #22343D;
}
.main-nav-link:hover,
.main-nav-link:focus {
color: #02897A;
}
.btn-cont {
display: flex;
gap: 21px;
}
.head-button1 {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 4px;
        width: 105px;
        height: 42px;

}
.head-button2 {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        color: #fff;
            border: none;
            background-color: #02897A;;
            border-radius: 4px;
            width: 113px;
            height: 42px;
}
/*WORK PLACE*/
/* .work-section {
    width: 1110px;
        height: 555px;

} */
 .work-section {
background-color: bisque;
 }
.work-container {
    width: 1110px;
    max-height: 555px;
    display: flex;
    gap: 35px;
}
.work-text {
max-width: 455px;
height: auto;
padding-top: 112px;
padding-bottom: 112px;

}
.work-title {
    font-family: Poppins;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0px;
        /* width: 452px; */
        margin: 0;
}

.work-item-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
        width: 465;
        height: 95;
        margin-top: 18px;
        margin-bottom: 45px;
}

.work-btn {
font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #02897A;
    width: 178px;
    height: 53px;
    margin-right: 30px;
}
.video-icon {
margin-right: 9px;
}
.work-link {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        text-decoration: underline;
        /* text-decoration-style: solid;
        text-decoration-offset: 0%;
        text-decoration-thickness: 0%; */
}
.work-image {
    max-width: 610px;
    height: auto;
    align-items: center;
    justify-content: center;
}

/*PRODUCT PLACE*/
.product-container {
    

}
.product-title {
    font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;

        text-align: center;
        margin: 0 auto;
        max-width: 450px;
        height: auto;
       
}
.product-list {
display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-item {
width: 255px;
height: auto;
}
.product-icon-cont {

}
.product-icon {
    margin-bottom: 26px;

}
.product-title-tw {
font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 0;
}

.product-item-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        margin-top: 13px;
        margin-bottom: 0;
}

.product-btn {
    font-family: Poppins;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;

        margin-top: 50px;
        border: none;
        border-radius: 4px;
        color: #fff;
        background-color: #02897A;
        width: 175px;
        height: 53px;
        display: block;
         margin: 0 auto;
    
}

/* MANAGEMENT PLACE*/
.manage-container {
    width: 1110px;
    height: 500px;
    display: flex;
    gap: 84px;
}
.manage-text {
    max-width: 400px;
        height: auto;
        padding-top: 41px;
        padding-bottom: 41px;
        
}
.manage-title {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        max-width: 224px;
        margin-bottom: 25px;
}

.title-style {
    font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;

}

.manage-item-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
}

.manage-title-tw {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
}
.manage-image {
    max-width: 540px;
    height: auto;
}
.manage-image {
    /* max-width: 540px; */
}

/*CUSTOMER PLACE*/
.customer-container {
    max-width: 1110px;
    height: auto;
    display: flex;
        flex-direction: row;
        gap: 84px;
}
.custom-text-cont {
max-width: 450px;
height: auto;
}
.customer-title {
font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    /* max-width: 304px;
    height: auto; */
    margin-bottom: 8px;
}

.customer-style {
    font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
}

.custom-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        max-width: 437px;
        height: auto;
        margin-top: 25px;
        margin-bottom: 30px;
}

.customer-list {
        align-items: center;
        display: flex;
        gap: 30px;
}
.custom-item-text {
font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0px;
display: flex;
flex-direction: column;
/* gap: 25px; */
margin-top: 25px;
margin-bottom: 25px;
max-width: 385px;
height: auto;
}
/* p:nth-of-type(3){
    margin-bottom: 40px;
} */
/* p:nth-of-type(2) {
    margin-top: 30px;
} */
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon-orange {
    fill: #FF9900;
}
.icon-red {
    fill: #F03E3D;
}
.icon-blue {
fill: #4D8DFF;
}
.custom-svg {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: none;
    stroke: #fff;
}
.customer-item {

}
.custom-image {
max-width: 540px;
height: auto;
}

/*OPTIM PLACE*/
.optim-container {
    max-width: 1110px;
        height: auto;
    display: flex;
    flex-direction: row;
    gap: 84px;
}
.optim-title {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
}

.optim-style {
    font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
}

.optim-item-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        max-width: 486px;
}

.optim-title-tw {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;

        margin-top: 30px;
        margin-bottom: 12px;
}
h4:last-of-type {
    margin-top: 25px;
}
.optim-image {
max-width: 540px;
 height: auto;
}
/*PROCESS PLACE*/
.process-container {
    max-width: 916px;
    height: auto;
    padding-left: 245px;
    padding-right: 245px;
    text-align: center;
    justify-content: center;

}
.process-title {
    font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
}

.process-item-text {
    font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        margin-top: 25px;
        margin-bottom: 40px;

}

.process-list {
    font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
}

.process-item {}

.process-btn {
    font-family: Poppins;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;

        border: none;
        border-radius: 4px;
        color: #fff;
        background-color: #02897A;
        width: 216px;
        height: 53px;
}
/*STRATEGIES PLACE*/

.strateg-title {
    font-family: Poppins;
        font-weight: 700;
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 0px;
}

.strateg-text {
    font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
}

.strateg-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.strateg-item {
        background-color: #FFFFFF;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            border-radius: 0px 0px 4px 4px;
            max-width: 350px;
}

.strateg-image {
display: block;
}

.strateg-cont {
    text-align: center;
        border-radius: 0 0 4px 4px;
        padding: 24px 27px 40px 27px;
        max-width: 350px;
}

.strateg-item-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
}
.strateg-style {
    font-family: Poppins;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
}
.strateg-title-tw {
    font-family: Poppins;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0px;
}
.current {
    color: #02897A;
}
/*PRICE PLACE*/
.price-title {
    font-family: Poppins;
        font-weight: 700;
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
}

.price-text {
    font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
}
.price-table-cont {
   display: flex;
   flex-direction: row;
   gap: 72px;
}
.price-table {
    width: 322px;
    height: 456px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    text-align: center;
}
.price-table:nth-of-type(2) {
    background-color: #02897A;
}
.price-text-tw {
    font-family: Poppins;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0px;
}

.price-item-text {
    font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 0px;
}

.price-cont {}

.price-value {
    font-family: Montserrat;
        font-weight: 700;
        font-size: 76px;
        line-height: 100px;
        letter-spacing: 0.2px;
        text-align: center;
        color: #02897A;
}

.price-currency {
    font-family: Inter;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.1px;
        color: #02897A;
}
.price-table:nth-of-type(2) .price-value {
    color: #fff;
}

.price-table:nth-of-type(2) .price-currency {
    color: #fff;
}
.price-period {
    font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1px;
}

.price-list {
    font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.2px;
}

.price-item {}

.price-btn {
    font-family: Montserrat;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        border: none;
        border-radius: 8px;
        color: #fff;
        background-color: #02897A;
        width: 139px;
        height: 44px;
}
.price-table:nth-of-type(2) button {
    color:#02897A;
    background-color: #fff;
}
/*CLIENTS PLACE*/
.clients-title {
    font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 57px;
        letter-spacing: 0.2px;
}

.clients-text {
    font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.2px;
        text-align: center;
}

.clients-comm {}

.clients-comm-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: #737373;
}

.clients-cont {}

.clients-image {}

.clients-title-tw {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color:#02897A;
}

.clients-item-text {
    font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
}
/*BUSINESS PLACE*/
.business-title {
    font-family: Poppins;
        font-weight: 600;
        font-size: 32px;
        line-height: 151%;
        letter-spacing: 0%;
}

.business-btn {
    font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
}

.business-image {}
/*FOOTER PLACE*/
