header {
background-color: #fff;
}
a {
    color: #22343D;
    text-decoration: none;
    
}
p,h2,h3 {
    font-family: Poppins;
    color: #22343D;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
/*HEADER PLACE*/
.header {
    
}

.container {
padding-left: 145px;
padding-right: 145px;
}

.header-container {
    width: 1400;
    height: 80;
    display: flex;
    justify-content: center;
    align-items: baseline;

}
.header-icon {
    margin-right: 16px;
}
.head-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #173A56;
}

.nav-header {
}

.header-list {
    display: flex;
    gap: 30px;
    margin-left: 237px;
    margin-right: 37px;

}

.header-item {
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0px;
    color: #22343D;

}
.current {
        font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
        color: #22343D;
}
.main-nav-link:hover,
.main-nav-link:focus {
color: #02897A;
}
.btn-cont {
display: flex;
gap: 21px;
}
.head-button1 {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #fff;
        border-radius: 4px;
        width: 105px;
        height: 42px;

}
.head-button2 {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        text-align: center;
        color: #fff;
            border: none;
            background-color: #02897A;;
            border-radius: 4px;
            width: 113px;
            height: 42px;
}
/*WORK PLACE*/
/* .work-section {
    width: 1110px;
        height: 555px;

} */
 .work-section {
background-color: bisque;
 }
.work-container {
    width: 1110px;
    max-height: 555px;
}
.work-text {
max-width: 455px;
height: auto;
padding-top: 112px;
padding-bottom: 112px;

}
.work-title {
    font-family: Poppins;
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 0px;
        /* width: 452px; */
        margin: 0;
}

.work-item-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0px;
        width: 465;
        height: 95;
        margin-top: 18px;
        margin-bottom: 45px;
}

.work-btn {
font-family: Poppins;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #fff;
    border: none;
    border-radius: 4px;
    background-color: #02897A;
    width: 178px;
    height: 53px;
    margin-right: 30px;
}
.video-icon {
margin-right: 9px;
}
.work-link {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        text-decoration: underline;
        /* text-decoration-style: solid;
        text-decoration-offset: 0%;
        text-decoration-thickness: 0%; */
}
.work-svg {
display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
.work-image {
    max-width: 610px;
    height: auto;
}

/*PRODUCT PLACE*/
.product-container {
    

}
.product-title {
    font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;

        text-align: center;
        margin: 0 auto;
        max-width: 450px;
        height: auto;
       
}
.product-list {
display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.product-item {
width: 255px;
height: auto;
}
.product-icon-cont {

}
.product-icon {
    margin-bottom: 26px;

}
.product-title-tw {
font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 0;
}

.product-item-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
        margin-top: 13px;
        margin-bottom: 0;
}

.product-btn {
    font-family: Poppins;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;

        margin-top: 50px;
        border: none;
        border-radius: 4px;
        color: #fff;
        background-color: #02897A;
        width: 175px;
        height: 53px;
        display: block;
         margin: 0 auto;
    
}

/* MANAGEMENT PLACE*/
.manage-text-cont {
    max-width: 486px;
        height: auto;
        padding-top: 7px;
        padding-bottom: 7px;
}
.manage-title {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
        max-width: 224px;
        margin-bottom: 25px;
}

.title-style {
    font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;

}

.manage-item-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
}

.manage-title-tw {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
}
.manage-svg {
    display: flex;
        align-items: center;
        justify-content: center;
        gap: 84px;
}
.manage-image {
    /* max-width: 540px; */
}

/*CUSTOMER PLACE*/
.customer-title {
font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
}

.customer-style {
    font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
}

.customer-item-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
}

.customer-list {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
}

.customer-item {

}
/*OPTIM PLACE*/
.optim-title {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
}

.optim-style {
    font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;
}

.optim-item-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
}

.optim-title-tw {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
}
/*PROCESS PLACE*/

.process-title {
    font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: 0px;

        text-align: center;
}

.process-item-text {
    font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;

        text-align: center;
}

.process-list {
    font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;

        text-align: center;
}

.process-item {}

.process-btn {
    font-family: Poppins;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
}
/*STRATEGIES PLACE*/
.strateg-title {
    font-family: Poppins;
        font-weight: 700;
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 0px;
}

.strateg-text {
    font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0px;
}

.strateg-list {
}

.strateg-item {}

.strateg-image {}

.strateg-cont {}

.strateg-item-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
}
.strateg-style {
    font-family: Poppins;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0px;
}
.strateg-title-tw {
    font-family: Poppins;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0px;
}
.current {
    color: #02897A;
}
/*PRICE PLACE*/
.price-title {
    font-family: Poppins;
        font-weight: 700;
        font-size: 34px;
        line-height: 100%;
        letter-spacing: 0px;
}

.price-text {
    font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0px;
}

.price-table {}

.price-text-tw {
    font-family: Poppins;
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        letter-spacing: 0px;
}

.price-item-text {
    font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
        letter-spacing: 0px;
}

.price-cont {}

.price-value {
    font-family: Montserrat;
        font-weight: 700;
        font-size: 76px;
        line-height: 100px;
        letter-spacing: 0.2px;
        text-align: center;
}

.price-currency {
    font-family: Inter;
        font-weight: 700;
        font-size: 24px;
        line-height: 30px;
        letter-spacing: 0.1px;
}

.price-period {
    font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.1px;
}

.price-list {
    font-family: Montserrat;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.2px;
}

.price-item {}

.price-btn {
    font-family: Montserrat;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
}
/*CLIENTS PLACE*/
.clients-title {
    font-family: Poppins;
        font-weight: 700;
        font-size: 32px;
        line-height: 57px;
        letter-spacing: 0.2px;
}

.clients-text {
    font-family: Poppins;
        font-weight: 500;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.2px;
        text-align: center;
}

.clients-comm {}

.clients-comm-text {
    font-family: Poppins;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.2px;
        color: #737373;
}

.clients-cont {}

.clients-image {}

.clients-title-tw {
    font-family: Poppins;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color:#02897A;
}

.clients-item-text {
    font-family: Poppins;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;
}
/*BUSINESS PLACE*/
.business-title {
    font-family: Poppins;
        font-weight: 600;
        font-size: 32px;
        line-height: 151%;
        letter-spacing: 0%;
}

.business-btn {
    font-family: Poppins;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
}

.business-image {}
/*FOOTER PLACE*/
